<header>
  <div class="col">
    <div class="row">
      <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/tabela">
            <mat-icon>table_rows</mat-icon>
            <span>Tabela</span>
          </button>
          <button mat-menu-item routerLink="/grafico">
            <mat-icon>pie_chart</mat-icon>
            <span>Gráfico</span>
          </button>
        </mat-menu>

        <span routerLink="/" class="link">DESAFIO CIELO</span>
      </mat-toolbar>
    </div>
  </div>
</header>

<body>
  <div class="container-fluid">
    <div class="col">
      <div class="row-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>
