<div class="row mt-2">
    <div class="col">
        <mat-card>
            <mat-card-title>
                PROJETO FRONT-END
            </mat-card-title>
        
            <mat-card-subtitle>
                Consumo de dados apresentados a partir de um JSON.
            </mat-card-subtitle>
        
            <mat-card-content>
                <h5>Ferramentas utlizadas</h5>
                <ul>
                    <li>Angular 11</li>
                    <li>Angular Material</li>
                    <li>Bootstrap</li>
                    <li>NGX Charts</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
